<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZoomFake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ZoomFake.Properties.Settings>
            <setting name="GroupAddress" serializeAs="String">
                <value>240.6.7.8</value>
            </setting>
            <setting name="PortChat" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="PortFileChat" serializeAs="String">
                <value>4444</value>
            </setting>
            <setting name="PortScreenCast" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="MyIp" serializeAs="String">
                <value>192.168.190.70</value>
            </setting>
        </ZoomFake.Properties.Settings>
    </applicationSettings>
</configuration>